body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.row{
  margin-left: 0px;

}
.navigacija {
	height: 40px;
	position: fixed;
  background-color: #fff;
  opacity: 0.85;
  width: 100%;
  z-index: 99999;
}

.navigacija li {
	display: inline;
	margin-right: 20px;
	list-style-type: none;
}
.navigacija li a {
	line-height: 40px;
	color: #000;


	text-decoration: none;
	font-size: 15pt;
}
.navigacija .hamburger {
	text-align: right;
	font-size: 15pt;
	line-height: 70px;
	padding-right: 40px;
	display: none;
}
.navigacija .main-menu {
	margin-bottom: 0;
}
.navigacija .main-menu li:hover {
	background-color: #000;
}
.navigacija .main-menu li a:hover {
	color: #fff;
}
@media screen and (max-width:760px) {
	.navigacija .hamburger {
		display: block;
	}
	.navigacija .main-menu li {
		border-top: 1px solid black;
		display: block;
		background-color: #F1C40F;
	}
	.navigacija {
		height: auto;
	}
	.main-menu {
		display: none;
	}
}
@media screen and (min-width:761px) {
	.main-menu {
		display: block !important;
	}
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("slike/naslovna2.jpg");
  min-height: 100%;
}
.bgimg-2 {
  background-image: url("slike/naslovna1.jpg");
  min-height: 400px;
}
.bgimg-3 {
  background-image: url("slike/naslovna3.jpg");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("slike/naslovna31.jpg");
  min-height: 200px;
}
.bgimg-5 {
  background-image: url("slike/naslovna31.jpg");
  min-height: 300px;
}

.caption {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption2 {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  color: #000;
  padding-top: 20px;
}
.caption3 {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption4 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption  span.border {
  color: #fff;
  padding: 18px;
  font-size: 28px;
  letter-spacing: 10px;
}
.caption2  span.border {
  color: #fff;
  padding: 18px;
  font-size: 28px;
  letter-spacing: 10px;
}
.caption3  a.border {
  color: #fff;
  padding: 18px;
  font-size: 28px;
  letter-spacing: 10px;
  text-decoration: none;
}
.caption4  span.border {
  color: #fff;
  padding: 18px;
  font-size: 28px;
  letter-spacing: 10px;
  text-decoration: none;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
h2{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #fff;
}
h4{
  font: 15px "Lato", sans-serif;
  color: #777;
}

.slider .col {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 40px;
}

.slider p {
	font: 400 15px/1.8 "Lato", sans-serif;
}
.slider .carousel-caption {
	background-color: rgba(0,0,0,0.4);
	border: 10px;
}

.galerija{
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
}
.galerija .slika .maska {
	background-color: #000;
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	opacity: 0;
	transition: 1s ease;
  padding-left: 80px;


}
.galerija .slika:hover .maska {
	opacity: 0.7;
}
.galerija .slika .maska p {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.galerija .slika {
	padding: 10px 10px;
}
.galerija .maska a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
}
.galerija .maska .naziv-rada {
	font-size: 18pt;
	text-transform: uppercase;
}
.galerija .maska .kategorija {
	font-size: 14pt;
}

.clanci{
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 30px;
}
.clanci h1 {
	text-transform: uppercase;
	font-size: 24pt;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
}
.clanci .mt-60 {
	margin-top: 40px;
}
.clanak h4 {

	margin-bottom: 20px;
}
@media screen and (max-width:767px) {
	.clanak h4 {
		margin-top: 20px;
	}
}
@media screen and (max-width:575px) {
	.clanak h4 {
		margin-top: 20px;
		text-align: center;
	}
	.clanak p {
		margin-left: 20px;
 	  margin-left: 20px;
	}
}

.footer{
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer p{
  margin: 0;
}

.kontakt {
	padding: 40px 80px;
}
.kontakt h1 {
	font-size: 24pt;
	font-family: 'Lato', cursive;
	padding-bottom: 30px;
}
.kontakt input[type=text],
.kontakt input[type=email],
.kontakt textarea {
	border: 0;
	border-radius: 0;
  background-color: #ddd;
}
.kontakt input {
	height: 50px;
}
.kontakt button[type=submit] {
	background-color: #000;
	border: 0;
	border-radius: 0;
	width: 200px;
	height: 50px;
}
@media screen and (max-width:575px) {
	.kontakt button[type=submit] {
		width: 100%;
	}
}
.kontakt ::placeholder {
	font-size: 14pt;
	font-family: 'Lato', cursive;
}


.social-profile {
	height: 150px;
}
.social-profile.svijetlo-siva {
	background-color: #F0F0F0;
}
.social-profile.svijetlo-bjela {
	background-color: #fff;
}
}
@media screen and (max-width:767px) {
	.social-profile:nth-child(odd) {
		background-color: #F0F0F0;
	}
	.social-profile:nth-child(even) {
		background-color: #E0E0E0;
	}
}
.social-profile p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 32pt;
}
.social-profile p a {
	color: #282E34;
	text-decoration: none;
}

  .o-meni{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
  }

  .o-meni h3{
    padding-bottom: 30px;
  }
  .vjestina {
  	height: 150px;
  }
  .vjestina.svijetlo-siva {
  	background-color: #F0F0F0;
  }
  .vjestina.tamno-siva {
    background-color: #fff;
  }
  @media screen and (max-width:767px) {
  	.vjestina:nth-child(odd) {
  		background-color: #F0F0F0;
  	}
  	.vjestina:nth-child(even) {
  		background-color: #E0E0E0;

  	}
  	.o-meni p:nth-child(1) {
  		margin-top: 40px;
  	}
  }
  .vjestina p {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-transform: uppercase;
  	text-align: center;
  	font-size: 14pt;
    color: #000;
  }

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
